#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .mainPage {
    flex-grow: 1;
  }

  .seccionEmpleados{
    width: 100%;
    height: auto;
  }

  .imgAvatar{
    border: 1px solid red;
  }
  .card-body{
    padding: 0;
  }